html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transform: rotate(5deg);
  z-index: 4;
  left: 30%;
  top: 150px;
  transition: ease-out 120ms;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  text-align: center;
  bottom: 10%;
  right: 33%;

}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 5;
  transition: ease-out 200ms;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 1);
}

figure:first-of-type {
  transform: rotate(-12deg);
  left: 20%;
  top: 100px;
  z-index: 2;
}

figure:last-of-type {
  transform: rotate(33deg);
  z-index: 3;
  left: 40%;
  top: 100px;
}
