html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: relative;
  transform: rotate(10deg);
  z-index: 4;
  left: 20%;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  text-align: center;
  bottom: 10%;
  right: 33%;

}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 5;
}


figure:first-of-type {
  transform: rotate(-12deg);
  left: 15%;
  top: 100px;
  z-index: 2;
}

figure:last-of-type {
  transform: rotate(40deg);
  z-index: 3;
  left: 25%;
  bottom: 200px;
}
